    <header class="header">
        <div class="header-images flex flex-center">
            <img src="../img/img_01.png" alt="">
            <img src="../img/img_02.png" alt="">
            <img src="../img/img_03.png" alt="">
            <img src="../img/img_04.png" alt="">
            <img src="../img/img_05.png" alt="">
            <img src="../img/img_06.png" alt="">
            <img src="../img/img_07.png" alt="">
            <img src="../img/img_08.png" alt="">
            <img src="../img/img_01.png" alt="">
            <img src="../img/img_02.png" alt="">
            <img src="../img/img_03.png" alt="">
            <img src="../img/img_04.png" alt="">
        </div>
        <nav class="main-menu flex flex-center">
           <a href="">Menu</a>
           <a href="">Catering</a>
           <a href="">About Us</a>
           <a href="">Contact</a>
        </nav>
    </header>
    <div class="clearfix"></div>
